<section class="cover text-center">
      <div class="cover-container lg-6 pb-2">
				<div class="cover-inner container justify-content-start">
						<h1 class="jumbotron-heading"><span class="title">EGG</span></br>HEADS</h1>
						<p class="lead">A Comrade who tries to discover and nurture <br/>the hidden potential of students 
                            and guides them to <br/>a successful crusader of their domain of interest.
            </p>
						<p>
							<a href="..." class="btn btn-primary btn-lg mb-2 mr-2 ml-2">Join Now</a>
						</p>
				</div>
      </div>
    </section>

<div class="egg-works">
    <div class="container">
      <h3>How Mr.Egg works with you !</h3>
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="images/vector/flow.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Finding Your Flow</h5>
              <p class="card-text">Everyone in this world posses their own Uniqueness. Let's find what you are upto !</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="images/vector/domain.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Choosing Your Domain</h5>
              <p class="card-text">Select your Domain and start upgrading your skills. </p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="images/vector/Productivity.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Experience Productivity</h5>
              <p class="card-text">Personalised Tracking Module along with our Domain Expert!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- End of work -->